.Heading-1,.Heading-2,.Important
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u3745-4,#u1021-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1038-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1079-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u3640-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u3721-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u3701-4,#u3703-12,#u3643-86
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u1035-4,#u991-28,#u1923-4,#u3424-183,#u3641-4,#u3713-4,#u3717-26,#u3732-10,#u3758-16,#u3880-11,#u3475-4,#u3613-2,#u3613-3,#u3613-5,#u3613-6,#u3613-7,#u3613-8,#u3613-9,#u3613-11,#u3613-12,#u3613-15,#u3613-16,#u3613-18,#u3613-19,#u3613-21,#u3613-23,#u3613-25,#u3613-27,#u3613-29
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

